/*
Student Name: Randy Rusch
Current Date: 10/30/2022
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rule for body and images */

body {
	background-color: #000;
}

img {
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */


/* Style rules for header content */
header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #000;
	height: 220px;
}

header img {
	margin: 0 auto;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin: 1%;
	background-color: #000;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li:first-child {
	border-top: none;
}

nav li {
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	border-top: 1px solid #fff;
	
}

nav li a {
	display: block;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
	
}

nav li a:hover {
	color: #0000ff;
}


/* Style rules for main content */
main {
	padding: 2%;
	background-color: #e5e9fc;
	overflow: auto;
	font-family: Verdana, Arial, sans-serif;
}

main p {
	font-size: 1.25em;
}


/* Style rules for footer content */
footer {
	text-align: center;
	font-size: 1em;
	clear: left;
}

footer a {
	color: #4645a8;
	text-decoration: none;
}

