/*
Student Name: Randy Rusch
Current Date: 10/30/2022
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rule for body and images */

body {
	background-color: #fff;
}
	
img {
	max-width: 100%;
	display: block;
}

/* Style rules for header content */
header {
	width: 25%;
	float: left;
}

/* Style rules for company-name div: didn't want in header */
#company-name {
	text-align: center;
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	color: #4acfee;
	padding-top: 4em;
}

/* Style rules for navigation area */
nav {
	background-color: #fff;
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	font-size: 2em;
}

nav li a {
	display: block;
	color: #000;
	text-align: center;
	padding-right: 1em;
	margin-top: 3em;
	text-decoration: none;
	transition-property: color;
	transition-duration: 1ms;
}

nav li a:hover {
	color: #0000ff;
}

/* Style rules for main content */
main {
	padding: 2%;
	background-color: #e5e9fc;
	overflow: auto;
	font-family: Verdana, Arial, sans-serif;
}

main p {
	font-size: 1.25em;
}


/* Style rules for footer content */
footer {
	text-align: center;
	font-size: 1em;
	clear: left;
}

footer a {
	color: #4645a8;
	text-decoration: none;
}

